.examLayout {
    counter-reset: counter;
    * {
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply tw-m-0 tw-p-0;
            background: none !important;
        }
    }
    img {
        max-width: 100% !important;
        max-height: 20rem !important;
    }
}
