.quiz-app {
    * {
        font-family: Arial, sans-serif;
        box-sizing: border-box;
        margin: 0;
    }
    background-color: #fff;
    border: 10px solid #f6f6f6;
    margin: 1.25rem auto;
    max-width: 50rem;
    padding: 0.9375rem;
    border-radius: 1.25rem;

    .quiz-info {
        display: flex;
        padding: 1.25rem;
        background-color: #f6f6f6;
        border-radius: 1.25rem;

        .category {
            flex: 1;
        }

        .count {
            flex: 1;
            text-align: right;
        }
    }

    .quiz-area {
        background-color: #fff;
        padding: 1.25rem;
        margin-top: 0.9375rem;
        margin-bottom: 0.625rem;
        border-radius: 1.25rem;

        h2 {
            margin: 0;
        }
    }

    .options-area {
        background-color: #fff;
        &:not(.endState) {
            .option:hover {
                background-color: #f0f0f0;
            }
        }
        .option {
            background-color: #f6f6f6;
            padding: 0.9375rem;
            margin: 0.625rem;
            border-radius: 1.25rem;
            > * {
                color: #444;
            }

            input[type="radio"]:checked + * {
                color: #0055ff;
            }
            &.correct {
                @apply tw-bg-green-500;
                * {
                    @apply tw-text-gray-100;
                }
            }
            &.notCorrect {
                @apply tw-bg-red-500;
                * {
                    @apply tw-text-gray-100;
                }
            }
        }
    }

    .submit-button {
        background-color: #0055ff;
        display: block;

        cursor: pointer;
        padding: 0.9375rem;
        border: none;
        color: #fff;
        font-weight: bold;
        font-size: 1.125rem;
        border-radius: 1.25rem;
        margin: 1.25rem 0;
        margin-left: auto;
        &:hover {
            background-color: #003d80;
        }

        &:focus {
            outline: none;
        }
    }

    .bullets {
        background-color: #f6f6f6;
        display: flex;
        padding: 1.25rem;
        margin-bottom: 0.625rem;
        border-radius: 1.25rem;
    }
}
