// ----------------------------------------------
// Theme Variables Style
// ----------------------------------------------


// ----------------------------------------------
// Header
// ----------------------------------------------

$header-height: 4.375rem;
$navlink-padding: 0.5rem 1rem;
$header-shadow: 0.0625rem 0rem 1.25rem 0rem rgb(0 0 0 / 12%);

// ----------------------------------------------
// Sidebar
// ---------------------------------------------- 
$custom-gray : #7C8FAC;
$sidebar-text: $dark;

$sidebar-link-padding: 0.75rem 0.9375rem;
$sidebar-icon-size: 1.4375rem;
$sidebar-first-level-padding: 0 0 0.625rem 0;
$sidebar-first-level-link-padding: 0.625rem 0.9375rem;
$sidebar-first-level-icon-size: 0.875rem;

$sidebar-width-full: 16.875rem;
$sidebar-width-iconbar: 11.25rem;
$sidebar-width-mini: 5.4375rem;
$sidebar-spacing-x: 0 1.5rem;
$link-disabled: 0.38;

$boxed-width: 75rem; // boxed layout width

// sidebar
$sidebar-height: 4.0625rem;
$sidebar-li-width: 15rem;
$sidebar-first-level-width: 25rem;

